.bussiness2 {
    background-color:#212121;
    height: 370px;
}

.bussiness2-files {
    padding-top: 40px;
}

.bussiness2-top {
    color:white;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    font-family: sans-serif;
}

.bussiness2-body {
    color:white;
    text-align: center;
    font-size: 17px;
    padding-top:10px;
    padding-bottom: 15px;
}

.bussiness2-button {
    display: flex;
    justify-content: center;
    align-content: center;
}