.credits {
    margin-top: 0px;
    background-color: #1e1e1e;
}

.credits .container {
    padding: 0px;
    margin: 0px;
}

.credits-files {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.credit-top {
    display: flex;
    align-items: center;}
    
.credit-cdc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.cdc {
    color: white;
}

.credit-top-logo {
    color: white;
}